<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}
{% load custom_filters %} 
<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}
<table>
    <tr>
        <td>
            Название
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Описание
        </td>
    </tr>
    <tr>
        <td>
            {{ new.name|filter_message }}
        </td>
        <td>
            {{ new.time_creation|date:'d M Y H:I'}}
        </td>
        <td>
            {{ new.description|filter_message }} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
        </td>
    </tr>
</table>
{% endblock content %}