<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}  <!-- подгружаем фильтры! -->
<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Количество новостей - {{ news|length }}</h1>
    <h3> {{ value1|default_if_none:"ничего" }} </h3> <!-- Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->
    <hr>
    {% if news %} <!-- Если есть новости, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
            </tr>
        {% for new in news %} <!-- Для каждой новости будете генерироваться новая строчка, 
            т.е. новый html код. При этом сам цикл работает точно так же, как и в python. 
            new — переменная цикла, т.е. наша новость, взятая из общего списка -->
            <tr>
                <td>
                    {{ new.name|filter_message }}
                </td>
                <td>
                    {{ new.time_creation|date:'M d Y'}}
                </td>
                <td>
                    {{ new.description|truncatechars:50|filter_message}} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
                </td>
                <td>
                    {{ new.category.name }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
{% endblock content %}