<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}  <!-- подгружаем фильтры! -->

{% block title %}
News list
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Количество новостей - {{ news|length }}</h1>
    <h3> {{ value1|default_if_none:"ничего" }} </h3> <!-- Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->
    <hr>

    {% if news %} <!-- Если есть новости, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Категория
                </td>
            </tr>
        {% for new in news %} <!-- Для каждой новости будете генерироваться новая строчка, 
            т.е. новый html код. При этом сам цикл работает точно так же, как и в python. 
            new — переменная цикла, т.е. наша новость, взятая из общего списка -->
            <tr>
                <td>
                    <a href="{% url 'new' new.id %}">{{ new.name|title|filter_message }}</a>  <!-- При нажатии на имя новости в таблице нас теперь будет перекидывать на страницу о самой новости -->
                    <a href="{% url 'new_update' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
                    <a href="{% url 'new_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
                </td>
                <td>
                    {{ new.name|filter_message }}
                </td>
                <td>
                    {{ new.time_creation|date:'M d Y'}}
                </td>
                <td>
                    {{ new.description|truncatechars:50|filter_message}} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 50. Все остальные символы превратятся в многоточие. -->
                </td>
                <td>
                    {{ new.category.name }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}

<a href="{% url 'new_create' %}">Добавить новость</a> <br>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}
 
<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
{% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
{% endif %}

<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a>{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
{% endfor %}

<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">>>></a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

<form method="POST">
    {% csrf_token %}
    
    <!--
    <label for="name">Name</label>
    <input name="name" type="text">
 
    <label for="description">Description</label>
    <input name="description" type="text">

    <select name="category" size="4"> 
    {% for category in categories %} 
        <option value="{{ category.id }}"> {{ category.name }} </option> 
    {% endfor %} 
    </select> -->
    {{ form }}
    <input type="submit" value="Добавить товар"> 
</form> 

{% endblock content %}